{% extends 'base.html.twig' %}
{% block body %}

	<h1> <center class="them" > BIENVENUE DANS COMPTABILITE MULTISERVICES !</center> </h1>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
.them { background-color: skyblue }
.moncontact{ background-color: skyblue }
.moncontact{text-decoration-color:  }
body {
	background-color: azure
}
span { color: blue }

</style>
<center>
<h1> A propos de notre site !</h1>
</center>
<div>
<p>Ce site est l'oeuvre de deux Etudiants Saidou Y. Kande et Mamadou S. Diallo tous deux étudiant en licence transmission de données et sécurité de l'information (TDSI).</p>

<p>Il est dans l'optique de permettre aux utilisateurs d'effectuer des transactions (dépot et retrait).</p>
<p>
En effet chaque utilisateur souhaitant faire des transactions doit impérativement s'identifier à la page de connexion quand il est à la détention d'un compte.Sinon il doit passer à la création.
</p>
<p>
Aprés l'identification, il sera redirigé à la page Nos Services pour sélectionner l'opérateur qu'il désir pour enfin effectuer des transactions s'il le souhaite.
</p>
<p>
Il pourra tout de meme nous contacter en cas de besoins en utilisant le formulaire de contacte ci-dessous.
</p>

</p>
</div>
<br>
<div class="content">
			
			<a href="{{ path('blog')}}" class="btn btn-primary"> REVOIR NOS SERVICES</a>
			<a href="{{ path('blog_show4')}}" class="btn btn-primary"> Faire une transaction</a>
</div>
	<FOOTER>
		<center>

<div class="moncontact" >


  <footer class="l-footer layout_compact" itemscope="itemscope" itemtype="https://schema.org/WPFooter">

	<section class="l-section wpb_row height_medium color_footer-top with_img with_overlay"><div class="l-section-img loaded" style="background-image: url(https://www.coffiassuretmultiservices.com/wp-content/uploads/2018/03/carte-monde-itc.jpg);" data-img-width="1274" data-img-height="647"></div><div class="l-section-overlay" style="background-color: rgba(26,26,26,0.85)"></div><div class="l-section-h i-cf"><div class="g-cols type_default valign_top vc_column-gap-20"><div class="vc_col-sm-4 wpb_column vc_column_container"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_wp_posts wpb_content_element"></div></div></div></div><div class="vc_col-sm-4 wpb_column vc_column_container"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column ">
		<div class="wpb_wrapper">
			<h4>Contacts</h4>

		</div>
	</div>
<div>+221 77 777 77 77 / 76 777 77 77</div></a></div></div><div class="vc_empty_space" style="height: 10px"></div>
<div class="w-iconbox iconpos_left style_default color_contrast no_text"><div class="w-iconbox-icon" style="font-size:1.2rem;"><i class="fa fa-map-marker"></i></div><div class="w-iconbox-meta"><div class="w-iconbox-title">Siège Social, Senegal-Dakar.</div></div></div><div class="w-separator type_invisible size_small thick_1 style_solid color_border cont_none"><span class="w-separator-h"></span></div><div class="w-socials align_left style_solid color_text index_1" style="font-size:20px;"><div class="w-socials-list"><div class="w-socials-item email">
				<a class="w-socials-item-link" target="_blank" href="mailto:infos@itcsarl.com">
					<span class="w-socials-item-link-hover"></span>
				</a>
				<div class="w-socials-item-popup">
					<span>Email: comptaservice@gmail.com</span>
				</div>
			</div><div class="w-socials-item facebook">
				<a class="w-socials-item-link" target="_blank" href="https://www.facebook.com/Coffiassur-et-Multiservice-2069869083068150/">
					<span class="w-socials-item-link-hover"></span>
				</a>
				<div class="w-socials-item-popup">
					<span>Facebook: comptaservice@hotmail.fr</span>
				</div>
			</div><div class="w-socials-item twitter">
				<a class="w-socials-item-link" target="_blank" href="#">
					<span class="w-socials-item-link-hover"></span>
				</a>
				<div class="w-socials-item-popup">
					<span>Twitter: comptaservice@twitter.com</span>
				</div>
			</div><div class="w-socials-item youtube">
				<a class="w-socials-item-link" target="_blank" href="#">
					<span class="w-socials-item-link-hover"></span>
				</a>
				<div class="w-socials-item-popup">
					<span>YouTube comptaservice@gmail.com</span>
				</div>
			</div><div class="w-socials-item instagram">
				<a class="w-socials-item-link" target="_blank" href="#">
					<span class="w-socials-item-link-hover"></span>
				</a>
				<div class="w-socials-item-popup">

					<span>Instagram: messervices@gmail.com</span>
				</div>
			</div></div></div></div></div></div><div class="vc_col-sm-4 wpb_column vc_column_container">

</footer>

</div>
</center>




	<CENTER>	
	<div>
		NOS DIFFERENTS PARTENAIRES.
	</div>
	</CENTER>

	<img src="/image/partenaires.jpg" height="100%" width="105%">
</FOOTER>

{% endblock %}